.form{ 
    background: black; 
    text-decoration-color: white;
   flex-direction: column;
   align-items: left;
  justify-content: left; 
  font-family: 'Times'
}  

h1{
  font-family:'Courier New'
}

#note{ 
  text-shadow: black;
  min-width: 500; 
  max-height: 400;
} 

