a:active{ 
    color: rgb(255, 0, 0)
} 
a:visited{
    color: rgb(121, 79, 79);
} 
a{
    color: rgb(87, 121, 20)
}  
.bar a:hover {
  color: lightgreen;
}
.bar{   

justify-content: center; 
border-bottom: black;
width: max-content; 
height: auto;  
max-height: 50px;
min-height: 50px;
}