.chartfront .card{
  display: flex;
  align-items: center;
  justify-content: space-evenly ;
  justify-content: center; 
  background-image: url('../css/office.jpg'); 
   
  background-size: 168px 300px; 
  
}