a:active{ 
    color: rgb(255, 0, 0)
} 
a:visited{
    color: rgb(51, 49, 49);
} 
a{
    color: rgb(2, 3, 0)
}  
.bar a:hover {
  color: lightgreen;
}
.bar{   

justify-content: center; 
border-bottom: black;
width: max-content; 
height: auto; 
min-height: 200px;
}