.signIn{
    width: auto;
    min-width: 600px; 
    max-width: 600px; 
    min-height: 400px; 
    max-height: 400px;  
    align-items: center;
       background: black; 
    text-decoration-color: white;
   flex-direction: column;
   align-items: left;
  justify-content: left;
    justify-content: space-evenly ;
    justify-content: center; 
    
}
 
.currentLink {
   color: #640200;
   background-color: #000000;
}